
@{
    ViewData["Title"] = "LoginRedirect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Before you do that..</h2>

<p>Please <a asp-area="Identity" asp-page="/Account/Login">sign in</a> or 
    <a asp-area="Identity" asp-page="/Account/Register">register a new account</a>.</p>

