@using Microsoft.AspNetCore.Identity
@using WebApplication3.Data;

@model WebApplication3.Models.Profile

@{
    ViewData["Title"] = "Edit";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h2>Edit Profile</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="OwnerId" />
            <input type="hidden" asp-for="UserName" />
            <input type="hidden" asp-for="Followers" />
            <input type="hidden" asp-for="CreationDate" />
            <div class="form-group">
                <label class="control-label">Quick Description</label>
                <textarea asp-for="QuickDescription" cols="45" rows="3" class="form-control"></textarea>
                <span asp-validation-for="QuickDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biography" class="control-label"></label>
                <textarea asp-for="Biography" cols="45" rows="10" class="form-control"></textarea>
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@{ if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        var currentUserProfileId = currentUser.GetProfileId();
        if (Model.Id == currentUserProfileId)
        {
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete Profile</a>
        }
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
